#body-wrap {
    background-image: url("/img/backgroundPic.jpg") !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}